@media screen and (max-width:993px){
    .stlLista{
        
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        margin-bottom:1rem ;
        margin-top: 1rem;
    }
    .contPost{
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100%;
    }
    .card{
        
        min-width: 90%;
        
    }
}
/*@media screen and (min-width:994px){
    #cardGrande{
        width: ;
    }
}*/
.divPosteos{
    padding: 10px;
    
    /* background-color:  rgb(121, 224, 114,0.3); ; */
}

.contPost{
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
}