



@media screen and (max-width:993px) {
    .stlImagenes{
        height: 500px !important
    }

    .textHome{
        font-size: 25px !important;
    }
    .tituloHome{
        font-size: 50px !important;
    }
}
@media screen and (max-width:768px){
    .stlImagenes{
        height: 300px !important;
    }
    .textHome{
        font-size: 15px !important;
        
    }
    .tituloHome{
        font-size: 30px !important;
        
    }
}
@media screen and (max-width:300px) {
    .textHome{
        font-size: 10px !important;
    }
    .tituloHome{
        font-size: 20px !important;
    }
}
.carousel-item{
    max-height: 40rem;
}
#Novedades{
    background-color: rgb(6, 36, 8,0.8);
    min-height: 15rem;
    font-size: 20px;
}

.stlImagenes{
    height: 800px;
}
.tituloHome{
    font-size: 60px;
    /* display: flex; */
    text-align: center;
    color: rgb(34, 125, 6);
}
.textHome{
    color: black;
    font-size:40px;
}
.idImgHome{
    opacity:0.4 !important ;
}